body {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  position: relative;
  width: 100% auto;
  height: 100% auto;
  margin-left: auto;
  margin-right: auto;
}
img {
  text-align: center;
  display: block;
  margin: 5% auto;
  position: relative;
}